<div class="row container">
    <div class="col-sm-6">
        <h3>How it works</h3>
        <ol>
            <li>You Upload Files</li>
            <li>Server Unzips the Files</li>
            <li>Server Breaks each File into a bunch of scenes</li>
        </ol>
        <form action="files" method="POST" enctype="multipart/form-data">
            <input id="fileInput" name="fileToUpload" type="file" multiple>
            <input type="submit" value="Upload">
        </form><br>
        <button class="clearLog">Clear the Log</button><br>
        <br>
        <button class="triggerAction" data-trigger="unzip">Unzip Files</button><br>
        <button class="triggerAction" data-trigger="break">Break Apart Files</button><br>
    </div>
    <div class="col-sm-6">
        <output id="nl_logger">

        </output>
    </div>
</div>
<script src="/js/websocket.js"></script>
<script>
    $(".triggerAction").on("click", function() {
        var action = $(this).data('trigger');
        console.log($(this));
        /** @type {WebSocket} */
        var wsc = window.WebSocketConnection;
        var msg = {
            "messageType": "trigger",
            "action": action
        }
        wsc.send(JSON.stringify(msg));
        console.log(JSON.stringify(msg));
    });
    $(".clearLog").on("click", function(){
        $("#nl_logger").html("");
    });
</script>