<h3>Stage 1</h3>
<ol>
    <li>Upload Files (You actually do stuff)</li>
    <li>Unzip Files</li>
    <li>Unzip Files</li>
</ol>
<form action="files" method="POST" enctype="multipart/form-data">
    <input id="fileInput" name="fileToUpload" type="file" multiple>
    <br>
    <input type="submit" value="Upload Selected Files">
</form>