<!Doctype html>
<html>

<head>
    <title>{{Title}}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {{PageScript}}
</head>

<body>
    <header>
        <h1>{{Title}}</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{> Footer}}
    </footer>
</body>

</html>